body {
  background: url('../images/background4.png') center;
  background-repeat: repeat-y;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica'
}

a.nav-link {
color: orange!important;
}

.heading {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
   display: flex;
   justify-content: center;
   color: black;
   font-size: 24px;
 }

h5.modal-title {
color:red

}


div.top {
  background-color: rgb(3,2,40);
  opacity: 1;

}

div.middle {
  position:relative;
  display:flex;
  justify-content: center;
  background-color: white;
  opacity: 0.75;

}



div.carousel {
  background-color: white;
  opacity:1;
}

div.bottom {
  color: white;
  background-color: rgb(3,2,40);
  opacity: 1;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: orange !important;

}

p {
  margin-bottom: 0;
}
