body {
  background: url('../images/background4.png') center;
  background-repeat: repeat-y;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica'
}

a.nav-link {
color: orange!important;
}

.heading {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
   color: white;
   font-size: 24px;
 }

 h2 {
   padding: 10px;
   color: rgb(191,41,0);
 }

 h3 {
   padding: 10px;
   font-size: 22px;
 }

h5.modal-title {
color:orange;

}


div.top {
  background-color: rgb(3,2,40);
  opacity: 1;

}

div.middle {
  position:relative;
  display:flex;
  justify-content: center;
  background-color: white;
  opacity: 1;

}



div.carousel {
  background-color: white;
  opacity:1;
}

div.bottom {
  color: white;
  background-color: rgb(191,41,0);
  opacity: 1;
  padding: 10px;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: orange !important;

}

p {
  margin-bottom: 0;
  padding: 10px;
  color:white;
}

div.col-sm {
 display: flex;
 justify-content: center;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

div.buttons {
  display: flex;
  justify-content: center;
}
