body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
   display: flex;
   justify-content: flex-end;
   color: white
 }

h5.modal-title {
color:red

}

li.nav-item {
background-color:green !important;

}

div.container {
  background-color: black;

}

div.all {
  background-color: rgb(255, 0, 0);

}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;

}
